<div class="container-card">
  <div class="desk">
    <div class="icon-desk" #img>
      <img src="{{carac.imgDesk}}" alt="" class="img-responsive"/>
    </div>
    <div class="block" #block>
      <h3>{{carac.name}}</h3>
      <p>{{carac.desc}}</p>
    </div>
  </div>
  <div class="mobile">
      <div class="block-mobile" #blockMob>
        <div class="icon-mobile">
          <img src="{{carac.imgMobile}}" alt="" class="img-responsive"/>
        </div>
        <div class="title-container">
          <h3>{{carac.name}}</h3>
        </div>
        <p>{{carac.desc}}</p>
      </div>
  </div>
</div>
