<footer>
  <div class="container">
  <div class="row">
    <div class="sub-container col col-lg-6 col-md-6">
      <h3 class="title">Telefone</h3>
      <p class="text">(81) 3037-1286</p>
      <p class="text">(81) 3023-5086</p>
    </div>
    <div class="sub-container col col-lg-6 col-md-6">
      <h3 class="title">Endereço</h3>
      <p class="text">Avenida Mascacarenhas de Moraes, nº 3000</p>
      <p class="text">Imbiribeira, Recife - PE</p>
    </div>
  </div>
  <div class="row">
    <div class="sub-container col col-lg-6 col-md-6">
      <h3 class="title">Email</h3>
      <p class="text">edilucia@huntertransportadora.com</p>
      <p class="text">jessica@huntertransportadora.com</p>
    </div>
    <div class="sub-container social col col-lg-6 col-md-6">
      <h3 class="title">Redes Sociais</h3>
      <img src="../../../assets/face.png" target="_blank" alt="link Facebook" class="icon" />
      <img src="../../../assets/inta.png" target="_blank" alt="link Instagram" class="icon" />
    </div>

  </div>
  
    
  
</div>
<div class="end-footer">
    <span>Eduardo Costa - 2017</span>
  </div>
</footer>