<section class="">
  <div class="container body">
    <h2 class="title">Hunter através do tempo...</h2>
    <div class="row">
      <div class="col col-lg-6 col-md-6 image">
        <img src="../../../assets/equipe.jpg" alt="Imagem da equipe da hunter" class="imageTeam img-responsive" />
      </div>
      <div class="col col-lg-6 col-md-6 text">
        <p>
          A Hunter transportes é uma empresa especializada nor amo de transportes de veículos. Prestando serviços com segurança para
          todo o território nacional.
        </p>
        <p>
          Criada com objectivo em atender as necessidades dos nossos clientes e manter a sua satisfação através do compromisso, da
          qualidade e confiabilidade nos serviços prestados com preços competitivos ao mercado.
        </p>
        <a href="/saiba-mais" class="btn btn-default btn-hunter">Saiba mais</a>
      </div>
    </div>
  </div>
</section>