<section class="container">
  <h2 class="title">Hunter através do tempo...</h2>
  <article>
    <img src="../../../assets/equipe.jpg" alt="Foto da equipe hunter" class="thumbnail"/>
    <div class="text">
      <p>
        A hunter transportes é uma empresa especializada no ramo de transportes de veículos. Prestando serviços com segurança para todo o território nacional.
      </p>
      <p>
        Criada com o objetivo em atender as necessidades dos nossos clientes e manter a sua satisfação, através do compromisso da qualidade e confiabilidade nos serviços prestados com preços competitivos
      </p>
      <p> 
        Procurando inovações e atualizações no mercado para melhorar e aperfeiçoar a cada dia nossos serviços, com intuito de melhor atender nosso maior patrimônio que são nossos clientes.
      </p>
      <p>
        A Hunter é uma empresa bem conceituada no mercado, graças ao excelente trabalho que dispomos e a experiência de mais de 20 anos no mercado de transportadoreas de nossos colaboradores, aliados a uma cisão completamente atual de mercado acompanhando as mudanças dos ultimos anos e mantendo-se sempre um passo a frente em querito de estratégias, conseguindo através de planejamento e estudo constante do mercado.
      </p>
      <p>
        Segmentamos nossos serviços de vistoria, coleta e entrega visando a comodidade do cliente e a facilidade do acesso ao melhor de nossos serviços, possuindo profissionais treinados e alinhados ao mercado com um elevado padrão de qualificação.
      </p>
    </div>
  </article>
  <span class="span">E ai gostou?</span>
</section>
