<section class="container">
  <h2 class="title">Faça seu orçamento</h2>
  <button class="btn btn-hunterblue">Já sou cliente hunter</button>
  <form novalidate="novalidate" action="">

    <div class="dados cliente">
      <h3>Dados do cliente</h3>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" placeholder="ex. Marcelo Magalhães" name="nome" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" placeholder="ex. exemplo@email.com" name="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="cidade">Cidade</label>
        <input type="text" placeholder="ex. Recife" name="cidade" class="form-control">
      </div>
      <div class="sub-container">
        <div class="form-group">
          <label for="telefone">Telefone</label>
          <input type="text" placeholder="ex. (00) 0000-0000" name="telefone" class="form-control">
        </div>
        <div class="form-group">
          <label for="celular">Celular</label>
          <input type="text" placeholder="ex. (00) 00000-0000" name="celular" class="form-control">
        </div>
      </div>
    </div>
    <div class="dados transporte">
      <h3>Dados do Transporte</h3>
      <div class="form-group">
        <label for="saida">Local de saída</label>
        <input type="text" placeholder="ex. Av. José Martins Vieira, nº 77" name="saida" class="form-control">
      </div>
      <div class="form-group">
        <label for="dataTrans">Data do Transporte</label>
        <input type="text" placeholder="ex. 22/01/2018" name="dataTrans" class="form-control">
      </div>
      <div class="form-group">
        <label for="destino">Destino</label>
        <input type="text" placeholder="ex. Florianópolis - SC" name="destino" class="form-control">
      </div>
      <div class="sub-container">
        <div class="form-group">
          <label for="veiculo">Nome do veículo</label>
          <input type="text" placeholder="ex. Pajero" name="veiculo" class="form-control">
        </div>
        <div class="form-group">
          <label for="valor">Valor do veículo</label>
          <input type="text" placeholder="R$ 165.000,00" name="valor" class="form-control">
        </div>
      </div>
    </div>
    <div class="dados detalhes">
      <label for="">Detalhes e informações adicionais</label>
      <textarea name="ex. Veículo sem nenhuma avaria e funcionando corretamente." id="" cols="30" rows="5" class="form-control"></textarea>
    </div>
    <span class="small">*Todos os dados estão sujeitos a re-avaliação por um de nossos técnicos.</span>
    <button class="btn btn-hunterred">Solicitar Orçamento</button>
  </form>

  
</section>